# Silly Name Generator

In [7]:
import pandas as pd
import sys, random

In [8]:
print("Welcome to the Psych 'Sidekick Name Picker.'\n")
print("A name just like Sean would pick for Gus:\n\n")

Welcome to the Psych 'Sidekick Name Picker.'

A name just like Sean would pick for Gus:

In [4]:
#import excel sheet with lists of funny first and last names
sgn = pd.read_excel('C://Users//Owner//DA/Weekly Projects//skills_practice//python//Impractical Projects//randomnames.xlsx')

In [6]:
sgn

                   First             Last
0               Baby Oil        Appleyard
1               Bad News          Bigmeat
2              Big Burps     Bloominshine
3   Bill 'Beenie-Weenie'     Boogerbottom
4           Bowel Noises  Breedslovetrout
..                   ...              ...
61             Sweet Tea     wigglesworth
62                TeeTee     Wimplesnatch
63            Wheezy Joe       Winterkorn
64  Winston 'Jazz Hands'       Woolysocks
65                 Worms              NaN

[66 rows x 2 columns]

In [47]:
#convert first name list to tuple
firstname = tuple(sgn['First'])

In [48]:
firstname

('Baby Oil',
 'Bad News',
 'Big Burps',
 "Bill 'Beenie-Weenie'",
 'Bowel Noises',
 'Boxelder',
 "Bud 'Lite'",
 'Butterbean',
 'Buttermilk',
 'Buttocks',
 'Chad',
 'Chesterfield',
 'Chewy',
 'chigger',
 'Cinnabuns',
 'cleet',
 'Cornbreak=d',
 'Crab Meat ',
 'Crapps',
 'Dark Skies',
 'Dennis Clawhammer',
 'dicman',
 'Elphonso',
 'Fancypants',
 'Figgs',
 'Foncy',
 'Gootsy',
 'Greasy Jim',
 'Huckleberry',
 'Huggy',
 'Ignatious',
 'Jimbo',
 "Joe 'Pottin Soil'",
 'Johnny',
 'Lil Debil',
 'Lemongrass',
 'Longbranch',
 'Lunch Money',
 'Mergatroid',
 'Mr Peabody',
 'Oil-Can',
 'Oinks',
 'Old Scratch',
 'Ovaltine',
 'Pennywhisle',
 'Pitchfork Ben',
 'Potato Bug',
 'Pushmeet',
 'Rock Candy',
 'Schlomo',
 'Scratchensniff',
 'Scut',
 "Sid 'The Squirts'",
 'Skidmark',
 'Slaps Snakes Snoobs',
 'Snorki',
 'Soupcan Sam',
 'Spitzitout',
 'Squids',
 'Stinky',
 'Storyboard',
 'Sweet Tea',
 'TeeTee',
 'Wheezy Joe',
 "Winston 'Jazz Hands'",
 'Worms')

In [27]:
#convert last name list to tuple
Lasttuple=tuple(lastlist)

In [45]:
#remove nan value from Lasttuple
lastname=Lasttuple[0:65]

In [46]:
lastname

('Appleyard',
 'Bigmeat',
 'Bloominshine',
 'Boogerbottom',
 'Breedslovetrout',
 'Butterbaugh',
 'Clovenhoof',
 'Cutterbuck',
 'Cocktoasten',
 'Endicott',
 'Fewhairs',
 'Gooberdapple',
 'Goodensmith',
 'Goodpasture',
 'Guster',
 'Henderson',
 'Hooperbag',
 'Hoosenater',
 'Hottkins',
 'Jefferson',
 'Jenkins',
 'Jingley-Schmidt',
 'Johnson',
 'Kingfish',
 'Listenbee',
 "M'Bembo",
 'McFadden',
 'Monnshine',
 'Nettles',
 'Noseworty',
 'Olivetti',
 'Outerbridge',
 'Overpeck',
 'Overturf',
 'Oxhandler',
 'Pealike',
 'Pennywhistle',
 'Peterson',
 'Pieplow',
 'Pinkerton',
 'Porkins',
 'Putney',
 'Quakenbush',
 'Rainwater',
 'Rosenthal',
 'Rubbins',
 'Sackrider',
 'Snuggleshine',
 'Splern',
 'Stevens',
 'Stroganoff',
 'Sugar-Gold',
 'Swackhamer',
 'Tippins',
 'Turnipseed',
 'Vinaegrette',
 'Walkingstick',
 'Wallbanger',
 'Weewax',
 'Weiners',
 'Whipkey',
 'wigglesworth',
 'Wimplesnatch',
 'Winterkorn',
 'Woolysocks')

In [21]:
# filter lastnames by nan value
Last = tuple(sgn['Last'].notna()==True)

In [53]:
#run a while loop to generate random combinations of first and last names until user decides to stop
while True:
    #randomly pick a first name
    firstName=random.choice(firstname)
    #randomly pick a last name
    lastName=random.choice(lastname)
    print("\n\n")
    #use sys library to present randomized names together and return them to user
    print("{} {}".format(firstName, lastName), file=sys.stderr)
    print("\n\n")
    #prompt to regenerate names or quit
    try_again=input("\n\nTryagain? (Press Enter else n to quit)\n ")
    #if user enters 'n' to quit, loop breaks
    if try_again.lower() == "n":
        break

Bill 'Beenie-Weenie' Cocktoasten

Tryagain? (Press Enter else n to quit)

Slaps Snakes Snoobs Bloominshine

Tryagain? (Press Enter else n to quit)
 n