## The goal of this week's project will be simple cleaning (clearing Nan's, standardizing column titles & data types, and dropping unneccessary columns)

In [4]:
import numpy as np
import pandas as pd
import math
import datetime

In [2]:
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',None)

In [ ]:
#data.sort_values(by=['column name'])

In [ ]:
#data = data.rename(columns={ 'controln':'id','hv1':'median_home_val', 'ic1':'median_household_income'})

In [ ]:
# data['lpep_pickup_datetime']=pd.to_datetime(data['lpep_pickup_datetime'],errors='coerce')

In [30]:
data = pd.read_csv('C:/Users/Owner/DA/Weekly Projects/weekly_work/Week 1/taxi_tripdata.csv/taxi_tripdata.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Part 1: Explore Data

In [6]:
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
1,2.0,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,NaN,0.3,43.30,2.0,1.0,0.0
2,2.0,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1.0,1.0,0.0
3,2.0,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.0
4,2.0,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2.0,1.0,0.0

In [7]:
data.shape,data.columns

((83691, 20),
 Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
        'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
        'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
        'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
        'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
       dtype='object'))

In [5]:
data.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

#### A few notes: datetime columns need conversions, the rest are likely correct but will double check

In [15]:
for i in data.columns:
    print('Column ',i,'holds',data[i].value_counts())

Column  VendorID holds 2.0    43554
1.0     7619
Name: VendorID, dtype: int64
Column  lpep_pickup_datetime holds 2021-07-19 12:38:00    9
2021-07-31 09:02:00    9
2021-07-28 11:25:00    8
2021-07-07 09:28:00    8
2021-07-07 09:20:00    8
                      ..
2021-07-15 13:48:29    1
2021-07-15 13:14:54    1
2021-07-15 14:34:04    1
2021-07-15 14:36:26    1
2021-07-02 07:58:00    1
Name: lpep_pickup_datetime, Length: 69694, dtype: int64
Column  lpep_dropoff_datetime holds 2021-07-21 13:27:00    8
2021-07-06 09:43:00    7
2021-07-29 10:00:00    7
2021-07-13 08:56:00    7
2021-07-08 12:44:00    7
                      ..
2021-07-15 15:59:18    1
2021-07-15 15:02:52    1
2021-07-15 14:37:43    1
2021-07-15 14:10:47    1
2021-07-02 08:30:00    1
Name: lpep_dropoff_datetime, Length: 69832, dtype: int64
Column  store_and_fwd_flag holds N    50977
Y      196
Name: store_and_fwd_flag, dtype: int64
Column  RatecodeID holds 1.0    48994
5.0     1954
2.0      158
4.0       41
3.0       26
Name: RatecodeID, dtype: int64
Column  PULocationID holds 74     8770
75     7713
41     4761
42     3229
95     2486
       ...
172       1
245       1
214       1
30        1
84        1
Name: PULocationID, Length: 253, dtype: int64
Column  DOLocationID holds 74     3666
75     3122
42     2904
41     2527
236    1700
       ...
84        2
214       2
2         1
176       1
204       1
Name: DOLocationID, Length: 258, dtype: int64
Column  passenger_count holds 1.0     44127
2.0      3922
5.0      1240
6.0      1018
3.0       626
4.0       181
0.0        56
7.0         2
32.0        1
Name: passenger_count, dtype: int64
Column  trip_distance holds 0.00     3455
1.40      507
1.60      408
1.10      383
1.00      383
         ...
25.70       1
36.46       1
22.85       1
33.77       1
33.63       1
Name: trip_distance, Length: 3153, dtype: int64
Column  fare_amount holds 7.00     2174
6.50     2087
6.00     2074
8.00     2058
7.50     2016
         ...
55.72       1
53.91       1
55.73       1
39.98       1
60.24       1
Name: fare_amount, Length: 3982, dtype: int64
Column  extra holds  0.00    37210
 2.75    25754
 1.00     9456
 0.50     8156
 5.50     1541
 1.35      856
 3.75      307
 3.25      160
 8.25       86
 4.10       74
-0.50       29
 4.50       28
-1.00       17
 6.85        8
-2.75        5
 1.75        2
-4.50        1
-1.35        1
Name: extra, dtype: int64
Column  mta_tax holds  0.5    49269
 0.0    34290
-0.5      132
Name: mta_tax, dtype: int64
Column  tip_amount holds 0.00     57279
2.00      1595
1.00      1542
3.00      1025
1.56       363
         ...
19.11        1
11.56        1
13.98        1
8.73         1
14.05        1
Name: tip_amount, Length: 1332, dtype: int64
Column  tolls_amount holds 0.00     75541
6.55      6842
2.45       433
3.00       351
6.12       138
13.10      118
9.00        73
13.75       47
11.75       38
9.55        22
2.29        18
4.90        13
18.30       10
10.17        9
23.50        4
20.30        4
19.65        4
7.50         3
2.75         3
8.41         3
27.50        3
2.80         2
30.05        2
8.21         1
26.85        1
0.40         1
20.00        1
11.45        1
17.87        1
11.13        1
12.00        1
26.20        1
16.75        1
Name: tolls_amount, dtype: int64
Column  ehail_fee holds Series([], Name: ehail_fee, dtype: int64)
Column  improvement_surcharge holds  0.3    83203
 0.0      347
-0.3      141
Name: improvement_surcharge, dtype: int64
Column  total_amount holds 7.80     1157
6.80     1148
8.30     1134
7.30     1130
8.80     1079
         ...
79.36       1
59.25       1
76.10       1
43.81       1
25.87       1
Name: total_amount, Length: 4629, dtype: int64
Column  payment_type holds 1.0    29990
2.0    20831
3.0      307
4.0       44
5.0        1
Name: payment_type, dtype: int64
Column  trip_type holds 1.0    49413
2.0     1760
Name: trip_type, dtype: int64
Column  congestion_surcharge holds  0.00    39205
 2.75    11962
-2.75        3
 2.50        3
Name: congestion_surcharge, dtype: int64

In [16]:
data.isna().sum()

VendorID                 32518
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag       32518
RatecodeID               32518
PULocationID                 0
DOLocationID                 0
passenger_count          32518
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                83691
improvement_surcharge        0
total_amount                 0
payment_type             32518
trip_type                32518
congestion_surcharge     32518
dtype: int64

### Part 2: Dropping Clearly Unimportant Data

In [31]:
data['ehail_fee'].value_counts()

Series([], Name: ehail_fee, dtype: int64)

#### all of ehail_fee is nan, to be dropped

In [17]:
data=data.drop(['ehail_fee'],axis=1)

In [32]:
data.shape

(83691, 20)

In [11]:
data['ehail_fee'].isna().sum()

83691

#### The following columns have 32518 of 83691 values as NaNs: payment_type, trip_type, congestion_surcharge, VendorID, store_and_fwd_flag, RatecodeID, passenger_count. 

#### Will decide if these columns should be cleaned, dropped, or kept as is.

In [13]:
for i in data.columns:
    if (data[i].isna().sum()>0):
        print('Nan value count for ', i ,' is',data[i].isna().sum(),'.  All other value counts are: ', data[i].value_counts())

Nan value count for  VendorID  is 32518 .  All other value counts are:  2.0    43554
1.0     7619
Name: VendorID, dtype: int64
Nan value count for  store_and_fwd_flag  is 32518 .  All other value counts are:  N    50977
Y      196
Name: store_and_fwd_flag, dtype: int64
Nan value count for  RatecodeID  is 32518 .  All other value counts are:  1.0    48994
5.0     1954
2.0      158
4.0       41
3.0       26
Name: RatecodeID, dtype: int64
Nan value count for  passenger_count  is 32518 .  All other value counts are:  1.0     44127
2.0      3922
5.0      1240
6.0      1018
3.0       626
4.0       181
0.0        56
7.0         2
32.0        1
Name: passenger_count, dtype: int64
Nan value count for  ehail_fee  is 83691 .  All other value counts are:  Series([], Name: ehail_fee, dtype: int64)
Nan value count for  payment_type  is 32518 .  All other value counts are:  1.0    29990
2.0    20831
3.0      307
4.0       44
5.0        1
Name: payment_type, dtype: int64
Nan value count for  trip_type  is 32518 .  All other value counts are:  1.0    49413
2.0     1760
Name: trip_type, dtype: int64
Nan value count for  congestion_surcharge  is 32518 .  All other value counts are:   0.00    39205
 2.75    11962
-2.75        3
 2.50        3
Name: congestion_surcharge, dtype: int64

# Continue analyzing Nan value columns

#### At the moment, Kaggle site gives little to know description of column info so it is difficult to know how to use any of the non-intuitive columns, making it difficult to decide what is useful and what is not

### Part 3: Converting to Appropriate Dtypes

In [35]:
# now that data I don't need is gone, I am converting lpep columns to datetime

data['lpep_pickup_datetime']=pd.to_datetime(data['lpep_pickup_datetime'],errors='coerce')
data['lpep_dropoff_datetime']=pd.to_datetime(data['lpep_dropoff_datetime'],errors='coerce')

In [36]:
data.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [11]:
# all data in lpeps appears intact and has not been altered
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
1,2.0,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,NaN,0.3,43.30,2.0,1.0,0.0
2,2.0,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1.0,1.0,0.0
3,2.0,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.0
4,2.0,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2.0,1.0,0.0

#### creating column for time elapsed

In [33]:
def triptime(x,y):
    return x-y

In [37]:
data['Trip Time']=list(map(triptime,data['lpep_dropoff_datetime'],data['lpep_pickup_datetime']))
# can alternatively replace 'triptime' with 'lambda x,y: x-y'  ?

In [38]:
data.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'Trip Time'],
      dtype='object')

In [39]:
data.shape

(83691, 21)

In [85]:
columns = data.columns.tolist()

In [86]:
columns=columns[0:3]+columns[-1:]+columns[3:-1]
columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'Trip Time',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [88]:
data=data[columns]
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,Trip Time,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2021-07-01 00:30:52,2021-07-01 00:35:36,0 days 00:04:44,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
1,2.0,2021-07-01 00:25:36,2021-07-01 01:01:31,0 days 00:35:55,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,NaN,0.3,43.30,2.0,1.0,0.0
2,2.0,2021-07-01 00:05:58,2021-07-01 00:12:00,0 days 00:06:02,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1.0,1.0,0.0
3,2.0,2021-07-01 00:41:40,2021-07-01 00:47:23,0 days 00:05:43,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.0
4,2.0,2021-07-01 00:51:32,2021-07-01 00:58:46,0 days 00:07:14,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2.0,1.0,0.0

#### trim trip time to only show nonzeros (seconds, minutes, maybe hours if nonzero)

### Part 4: Run Some Analysis

#### Graph counts for triptimes, look at a few correlations