# Modeling Olympic info to predict medals for each country

In [2]:
import pandas as pd
import numpy as np

In [4]:
teams = pd.read_csv("teams.csv")

In [5]:
teams.shape

(2014, 9)

In [6]:
teams

     team  year  athletes  events   age  height  weight  prev_medals  medals
0     AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1     AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2     AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3     AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4     AFG  2004         5       5  18.6   170.8    64.8          0.0       0
...   ...   ...       ...     ...   ...     ...     ...          ...     ...
2009  ZIM  2000        26      19  25.0   179.0    71.1          0.0       0
2010  ZIM  2004        14      11  25.1   177.8    70.5          0.0       3
2011  ZIM  2008        16      15  26.1   171.9    63.7          3.0       4
2012  ZIM  2012         9       8  27.3   174.4    65.2          4.0       0
2013  ZIM  2016        31      13  27.5   167.8    62.2          0.0       0

[2014 rows x 9 columns]

In [7]:
X= teams[["athletes","prev_medals"]].copy()
y = teams[["medals"]].copy()

In [8]:
X

      athletes  prev_medals
0            8          0.0
1            5          0.0
2            8          0.0
3           11          0.0
4            5          0.0
...        ...          ...
2009        26          0.0
2010        14          0.0
2011        16          3.0
2012         9          4.0
2013        31          0.0

[2014 rows x 2 columns]

In [9]:
y

      medals
0          0
1          0
2          0
3          0
4          0
...      ...
2009       0
2010       3
2011       4
2012       0
2013       0

[2014 rows x 1 columns]

In [10]:
#adding column for y intercept
X["intercept"]=1

In [11]:
X=X[["intercept","athletes","prev_medals"]]

In [12]:
X

      intercept  athletes  prev_medals
0             1         8          0.0
1             1         5          0.0
2             1         8          0.0
3             1        11          0.0
4             1         5          0.0
...         ...       ...          ...
2009          1        26          0.0
2010          1        14          0.0
2011          1        16          3.0
2012          1         9          4.0
2013          1        31          0.0

[2014 rows x 3 columns]

In [13]:
XT=X.T

In [14]:
XT

,0,1,2,3,4,5,6,7,8,9,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
intercept,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
athletes,8.0,5.0,8.0,11.0,5.0,4.0,6.0,3.0,4.0,5.0,...,52.0,20.0,47.0,28.0,21.0,26.0,14.0,16.0,9.0,31.0
prev_medals,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,15.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,0.0

In [15]:
#calculate coefficients of matrix
B=np.linalg.inv(XT @ X) @ XT @ y

In [17]:
#intercept = 0, athletes = 1, prev_medals = 2
B

     medals
0 -1.961889
1  0.071112
2  0.734137

In [20]:
#transcribe labels onto coefficients
B.index = X.columns

In [21]:
B

               medals
intercept   -1.961889
athletes     0.071112
prev_medals  0.734137

In [22]:
predictions = X @ B

In [23]:
predictions

        medals
0    -1.392992
1    -1.606329
2    -1.392992
3    -1.179656
4    -1.606329
...        ...
2009 -0.112974
2010 -0.966319
2011  1.378315
2012  1.614667
2013  0.242587

[2014 rows x 1 columns]

In [24]:
SSR = ((y-predictions) ** 2).sum()

In [25]:
SST = ((y - y.mean()) ** 2).sum()

In [26]:
SSR, SST

(medals    290620.124598
 dtype: float64,
 medals    2.276322e+06
 dtype: float64)

In [27]:
R2 = 1-(SSR / SST)

In [29]:
#Closer to 1, the more accurate the model at predicting the data
R2

medals    0.872329
dtype: float64

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
lr = LinearRegression()

In [32]:
lr.fit(teams[["athletes","prev_medals"]],teams[["medals"]])

LinearRegression()

In [33]:
lr.intercept_

array([-1.96188939])

In [34]:
lr.coef_

array([[0.07111214, 0.73413679]])

In [35]:
B

               medals
intercept   -1.961889
athletes     0.071112
prev_medals  0.734137